<html lang="en">
    
    <%- include('./partials/head.ejs') %>

    <body>

        <%- include('./partials/nav.ejs') %>

        <div class="about content">
            <h2>About Us</h2>
            <p>Hi my name is Virgil Daniels and i'm 39 years old and i'm a Programmer slash Solfware Developer. I live in Somerset West in Cape Town, South Afica.</p>
            <p>Hi my name is Virgil Daniels and i'm 39 years old and i'm a Programmer slash Solfware Developer. I live in Somerset West in Cape Town, South Afica.</p>
            <p>Hi my name is Virgil Daniels and i'm 39 years old and i'm a Programmer slash Solfware Developer. I live in Somerset West in Cape Town, South Afica.</p>
        </div>

        <%- include('./partials/footer.ejs') %>

    </body>
</html>